/*---------------------\
    DESKTOP VERTION
 \---------------------*/
.bgTop {
  height: 70%;
  width: auto;
}

.bgTop img {
  height: 100%;
  margin-top: 0px;
  margin-right: 0px;
}
.bgBottom {
  z-index: -10;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
}
.bgBottom img {
  height: 100%;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
}
.card {
  width: 100%;
}
.card-two {
  padding: 4.5em 1em;
}
