* {
  margin: 0;
  padding: 0;
}
:root {
  very_light_grayish_blue: hsl(240, 78%, 98%);
  light_grayish_blue: hsl(234, 14%, 74%);
  grayish_blue: hsl(233, 13%, 49%);
  dark_grayish_blue: hsl(232, 13%, 33%);
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 65.5%;
  font-weight: 700;
}
