/*--------------------------------------*\
        DWITCH PRICES
\*--------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --linear_gradient_1: hsl(236, 72%, 79%);
  --linear_gradient_2: hsl(237, 63%, 64%);
  --very_light_grayish_blue: hsl(240, 78%, 98%);
  --light_grayish_blue: hsl(234, 14%, 74%);
  --grayish_blue: hsl(233, 13%, 49%);
  --dark_grayish_blue: hsl(232, 13%, 33%);
}
html {
  /* height: 100vh; */
  font-family: "Montserrat", sans-serif;
  font-size: 65.5%;
  font-weight: 700;
  background-color: var(--very_light_grayish_blue);
  color: var(--grayish_blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,h2,h3,h4,h5,h6
{
  color: var(--dark_grayish_blue);
}

/* BACKGROUND */
.background-top
{
  max-width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}

.background-bottom
{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -10;
}

/* TOGGLE BUTTON */
.toggle-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}

.toggle
{
  display: flex;
  align-items: center;
  margin: 2em 0;
}

.toggle p
{
  font-size: 0.9rem;
  color: var(--light_grayish_blue);
}

.toggle-box
{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 2em;
}

.toggle input
{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider
{
  position: absolute;
  /* cursor: pointer; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background: linear-gradient(to right, var(--linear_gradient_1), var(--linear_gradient_2));
  transition: 0.3s;
}
.slider:hover
{
  opacity: 0.8;
}

.slider::before
{
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: var(--very_light_grayish_blue);
  transition: 0.3s;
}

input:checked + .slider::before
{
  transform: translateX(26px);
  -webkit-transform: translateX(26px);
}

/* CARDS */
.cards
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  align-items: center;
  justify-content: center;
}

.card
{
  background: var(--very_light_grayish_blue);
  padding: 1.2em 1em;
  display: flex;
  box-shadow: 0 10px 14px var(--dark_grayish_blue);
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.title
{
  font-size: 1rem;
  color: var(--grayish_blue);
}

.price 
{
  font-size: 3.25rem;
  margin: 0.3em 0;
}

.benefits
{
  width: 80%;
  border-top: 1px solid var(--dark_grayish_blue);
}

.benefits li
{
  list-style: none;
  padding: 1em 0;
  border-bottom: 1px solid var(--dark_grayish_blue);
}

.button
{
  border: 1px solid;
  border-radius: 5px;
  margin-top: 1em;
  width: 80%;
  padding: 1em;
  color: var(--very_light_grayish_blue);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  background: linear-gradient(to right, var(--linear_gradient_1), var(--linear_gradient_2));
  outline: none;
}
.button:hover
{
  border-color: var(--light_grayish_blue);
  background: var(--very_light_grayish_blue);
  color: hsl(237, 63%, 64%);
}

.card-two
{
  background:linear-gradient(to bottom, var(--linear_gradient_1), var(--linear_gradient_2));
  color: var(--very_light_grayish_blue);
}

.card-two .title, .card-two .price
{
  color: var(--very_light_grayish_blue);
}

.card-two .button
{
  border-color: var(--light_grayish_blue);
  background: var(--very_light_grayish_blue);
  color: var(--linear_gradient_2);
}

.card-two .button:hover
{
  background: transparent;
  color: var(--very_light_grayish_blue);
  border-color: var(--very_light_grayish_blue);
}
